@import "variables";
@import "mixins";
@import url(https://fonts.google.com/specimen/Poppins);

body{
    font-family: 'Poppins';

    .navbar{
        padding-left: $general-padding;
        padding-right: $general-padding;
    }
}