@import "variables";
@import "mixins";
@import url(https://fonts.google.com/specimen/Poppins);


body{
    font-family: sans-serif;

    .navbar{
        padding-left: $general-padding;
        padding-right: $general-padding;

        .navbar-brand{
            font-size: 2rem;
        }
    };

    .first__section{
        padding-left: $general-padding;
        height: 100vh;

        .jumbotron{
            background-color: transparent;
        }
    }

    .second__section{
        padding-left: $general-padding;
        padding-right: $general-padding;
    }

    .footer{

        &__brand{
            font-size: 2rem;
        }

        &__links{

            .footer__link{

                &__header{
                    font-weight: 700;
                    font-size: 1rem;
                }

                &__subLinks{
                    list-style: none;
                    
                    li{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}